## Simpler Returns - Part I

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [4]:
import pandas as pd
from pandas_datareader import data as wb

MSFT = wb.DataReader('MSFT',data_source = 'yahoo',start = '2000-1-1')

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [5]:
MSFT.head()

               High       Low      Open     Close      Volume  Adj Close
Date
2000-01-03  59.3125  56.00000  58.68750  58.28125  53228400.0  37.017384
2000-01-04  58.5625  56.12500  56.78125  56.31250  54119000.0  35.766914
2000-01-05  58.1875  54.68750  55.56250  56.90625  64059600.0  36.144032
2000-01-06  56.9375  54.18750  56.09375  55.00000  54976600.0  34.933285
2000-01-07  56.1250  53.65625  54.31250  55.71875  62013600.0  35.389793

In [6]:
MSFT.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-03-22,236.899994,230.139999,230.270004,235.990005,30127000.0,235.990005
2021-03-23,241.050003,237.070007,237.490005,237.580002,31638400.0,237.580002
2021-03-24,238.000000,235.320007,237.850006,235.460007,25620100.0,235.460007
2021-03-25,236.940002,231.570007,235.300003,232.339996,34061900.0,232.339996
2021-03-26,236.710007,231.550003,231.550003,236.479996,25471700.0,236.479996

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [7]:
MSFT ['RETORNO'] = (MSFT['Adj Close']/MSFT['Adj Close'].shift(1))-1

In [8]:
MSFT

,High,Low,Open,Close,Volume,Adj Close,RETORNO
Date,,,,,,,
2000-01-03,59.312500,56.000000,58.687500,58.281250,53228400.0,37.017384,NaN
2000-01-04,58.562500,56.125000,56.781250,56.312500,54119000.0,35.766914,-0.033781
2000-01-05,58.187500,54.687500,55.562500,56.906250,64059600.0,36.144032,0.010544
2000-01-06,56.937500,54.187500,56.093750,55.000000,54976600.0,34.933285,-0.033498
2000-01-07,56.125000,53.656250,54.312500,55.718750,62013600.0,35.389793,0.013068
...,...,...,...,...,...,...,...
2021-03-22,236.899994,230.139999,230.270004,235.990005,30127000.0,235.990005,0.024484
2021-03-23,241.050003,237.070007,237.490005,237.580002,31638400.0,237.580002,0.006738
2021-03-24,238.000000,235.320007,237.850006,235.460007,25620100.0,235.460007,-0.008923
2021-03-25,236.940002,231.570007,235.300003,232.339996,34061900.0,232.339996,-0.013251
2021-03-26,236.710007,231.550003,231.550003,236.479996,25471700.0,236.479996,0.017819